httpx==0.24.1
vllm==0.5.4
fastapi==0.108.0
huggingface_hub
hf-transfer
transformers
locate
python-rapidjson
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-distro
opentelemetry-instrumentation-fastapi
streamlit
pymysql==1.1.0
aiomysql==0.2.0
sqlalchemy==2.0.29
sqlalchemy-utils
aiosqlite
greenlet
uvicorn
ulid-py
pyopencl
py-cpuinfo
pytz
tzlocal
openai
packaging
ray
# filelock
# lm-format-enforcer==0.10.3
# ninja
# nvidia-ml-py
# outlines
# pillow
# prometheus-client
# prometheus-fastapi-instrumentator
# psutil
# sentencepiece
# tiktoken
# tokenizers
# typing-extensions
# vllm-flash-attn==2.5.9.post1
# xformers==0.0.27