httpx==0.24.1
fastapi==0.108.0
accelerate
huggingface_hub
hf-transfer
torch
transformers
vllm
locate
python-rapidjson
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-distro
opentelemetry-instrumentation-fastapi
enova-instrumentation-llmo==0.0.3
streamlit
pymysql==1.1.0
aiomysql==0.2.0
sqlalchemy==2.0.29
sqlalchemy-utils
aiosqlite
greenlet
uvicorn
ulid-py
pyopencl
py-cpuinfo
pytz
tzlocal
