# httpx==0.24.1
# fastapi==0.108.0
# huggingface_hub
# hf-transfer
# transformers
# locate
# python-rapidjson
# opentelemetry-api
# opentelemetry-sdk
# opentelemetry-exporter-otlp
# opentelemetry-distro
# opentelemetry-instrumentation-fastapi
# streamlit
# pymysql==1.1.0
# aiomysql==0.2.0
# sqlalchemy==2.0.29
# sqlalchemy-utils
# aiosqlite
# greenlet
# uvicorn
# ulid-py
# pyopencl
# py-cpuinfo
# pytz
# tzlocal
# openai
# packaging
# ray
# addict
# sglang==0.3.6
# python-multipart
# orjson
# siphash24
# swanlab
# httpx==0.24.1
# fastapi==0.115.0
# pyarrow==21.0.0
# sglang==0.3.6
huggingface_hub
# hf-transfer
# transformers==4.56.0
locate
python-rapidjson
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-distro
opentelemetry-instrumentation-fastapi
streamlit
pymysql==1.1.0
aiomysql==0.2.0
sqlalchemy==2.0.29
sqlalchemy-utils
aiosqlite
greenlet
uvicorn
ulid-py
# pyopencl
# py-cpuinfo
pytz
tzlocal
openai
packaging
python-multipart
addict
orjson
siphash24
uvloop
qwen-vl-utils
watchfiles
pyarrow
